@model IEnumerable<blog_template_practice.Models.Comment>


<main>
    @foreach (var item in Model)
    {
        <div class="EntirePost">
            <p class="PostTitle">@item.Content.Title</p>
            <p class="PostBody">@item.Content.Body</p>
            <p class="ByLine">By: @item.Content.Author, on @item.Content.PostDate</p>
            <p><a href="/Content/Update/@item.Content.Id">Edit Post</a> | <a href="/Content/Delete/@item.Content.Id">Delete Post</a></p>
        </div>
        <div class="Comment">
            <p>@item.Body</p>
            <p class="ByLine">@item.Author, on @item.PostDate</p>
        </div>
        <hr />
    }
</main>