@model blog_template_practice.Models.Category

<p>@Model.Name</p>

@foreach (var item in Model.Posts)
{
    <p>@item.Title</p>
    <p>@item.Body</p>
    <p>By: @item.Author, on @item.PublishDate</p>
}

<p><a href="/Category/">Back to Topic List</a></p>
